<!DOCTYPE html>
<html lang="en">
<head>
    {% block scripts %}{% endblock %}
    <meta charset="UTF-8">
    {% load static %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src={% static "Bootstrap/js/bootstrap.min.js" %}></script>
    <script src="{% static 'Bootstrap/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'Bootstrap/js/infinite.min.js' %}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href={% static 'Bootstrap/css/bootstrap.min.css' %}>
  <link rel="stylesheet" href={% static 'Bootstrap/css/font-awesome.min.css'%}>
  <link rel="stylesheet" href={% static 'Bootstrap/css/main.css'%}>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <div class="col-lg-1 col-lg-offset-0">

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
          </div>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-ellipsis-h"></i>{{ head_text }}</a>
      </div>
      <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">


                {% block head_buttons %}{% endblock %}
<li>
                    <div class="dropdown">
                            <button class="dropdown-toggle" data-toggle="dropdown">
{#                                <img src="" width="30" height="30" alt=""/>#}
                                    <i class="fa fa-user"></i>
                            </button>
                            <div class="dropdown-content">
                                {% if request.user.is_authenticated %}
                                    <span>Здравствуйте, {{ request.user.username }}</span>
                                    <a href="{% url 'logout_url' %}">Выйти</a>
                                {% else %}
                                    <a href="{% url 'login_url' %}">Вход</a>

                                    <a href="{% url 'registration_url' %}">Регистрация</a>
                                {% endif %}
                            </div>
                    </div>
</li>
    {#                {% endif %}#}

            </ul>
      </div>
    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src={% static "Bootstrap/js/bootstrap.min.js" %}></script>

{%  block body1 %}{% endblock %}





</body>

</html>