{% extends "base.html" %}

{% block body1 %}
    <div class="col-xs-4 col-xs-offset-4 centered">
            <div id="headerwrap1">
                <br><br>
                <form action="" method="post">
                   {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit">Войти</button>

                </form>
                <br>

                <form method="get" action={% url "registration_url" %}>
                    <button>Регистрация</button>
                </form>

        </div>
    </div>

{#</div>#}
{% endblock %}