{% extends "base.html" %}

{% block body1 %}
{#<div class="container">#}
{#    <div class="row">#}
    <div class="col-lg-3 col-lg-offset-5 centered">
            <div id="headerwrap1">
                <div class="col-lg-11">
                <br><br>
                <form action="" method="post">
                   {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit">Войти</button>

                </form>
                <br>

                <form method="get" action={% url "registration_url" %}>
                    <button>Регистрация</button>
                </form>

            </div>
        </div>
    </div>
{#</div>#}
{% endblock %}