{%  extends 'base.html' %}

{%  block head_buttons %}

      <li><a href=''>Инфо</a></li>
      <li class="active"><a href=''>Лошади</a></li>
      <li><a href="#">Контакты</a></li>

{% endblock %}


{% block body1 %}
    {% if success %}
        <script>
            alert('Добавил бро')
        </script>
    {%  endif %}

    <div class="container">
        <div class="row">
        <br><br>
            {% if request.user.is_authenticated %}
                <div class="col-xs-1">
                    <a href={% url "runs_url" %}>
                        <div class="fa fa-arrow-circle-left"></div>
                    </a>

                </div>

                <div class="col-xs-8 center">
{#                        {% if horse.photo %}#}
{#                            <img src="{{ horse.photo.url }}" width="30%" height="30%">#}
{#                        {% endif %}#}
{#                    <caption class="fa-3x"><a href={% url "runs_url" %}> К списку забегов  </a></caption>#}
                    {% for run in runs %}
                        <table>
                            <caption class="centered"><h3>Забег номер {{ run.id }}</h3></caption>
                            <tr class="fa-2x">
                                <th>Дата</th>
                                <th>Время</th>
                                <th>Место</th>
                            </tr>

                            <tr class="fa-2x">
                                <td>{{ run.date }}</td>
                                <td>{{ run.time }}</td>
                                <td>{{ run.place }}</td>
                            </tr>
                        </table>

                        <div class="fa-2x">Участники: </div>
                        {% for horse in run.get_horses %}
                              <h4>
                                  <a  href={% url "run_url" %}?id={{ run.id }}&horse={{ horse.id }}>
                                      {{ horse.id }}        -     {{ horse.name }}     -     {{ horse.age }} Лет
                                  </a>
                              </h4>
                        {% endfor %}
                    {% endfor %}

                {% if horse_id != None %}
                    <form method="POST">
                         {% csrf_token %}

                             <label>
                                Сумма ставки <div class="h4"> {{ money_error }} </div>
                             </label>

                            <div class="form-block">
                                <input type="text" name="money">
                            </div>

                    <button type="submit">Сделать ставку</button>
                    </form>
                {% endif %}

                    <br>
                </div>
                        <div class="col-lg-offset-8">

                        <div><h1>{{ horse_id }}</h1></div>
                        </div>
            {% endif %}
                        <br><br>
                        {% for user in horse.get_bet %}
                            <h1>{{ h }}</h1>
                        {% endfor %}
        </div>
    </div>
{#                {% else %}#}
{#                    <div class="col-lg-12 col-lg-offset-0">#}
{#                        <h2>Чтобы просматривать таблицу, нужно авторизоваться</h2>#}
{#                    </div>#}



{% endblock %}