{%  extends 'base.html' %}

{% block scripts %}

    <script src="scroll-startstop.events.jquery.js" type="text/jаvascript"></script>

{% endblock %}


{%  block head_buttons %}
    {% if request.user.is_staff %}
        <li><a href={% url "run_add_url" %}>Добавить забег</a></li>
        <li><a href="">Лошади</a></li>
    {% endif %}
{% endblock %}


{% block body1 %}


    <div class="container">
        <div class="row">
            <div class="col-lg-12 centered">

                <h2><a href={% url "runs_url" %}> Забеги  </a></h2>

                {% for run in runs %}

                <div class="infinite-container">
                    <div class="infinite-item">

                        <a href={% url "runs_url"%}?id={{ run.id }} >
                            <button>
                                {% if run.place_image.url != None %}
                                    <img alt="None" src="{{ run.place_image.url }}" width=500px height=200px>
                                {% endif %}
                                <h4><small> Забег номер: {{ run.id }}     </small></h4>
                                <h4><small> {{ run.date }}  </small></h4>
                                <h4><small> {{ run.time }}  </small></h4>
                                <h4><small> {{ run.place }} </small></h4>
                            </button>
                        </a>
                        <br><br><br>
                    </div>
                </div>

                {% endfor %}
            </div>

            <div class="loading" style="display: none;">
                Loading...
            </div>

            {% if page_obj.has_next %}
                <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
            {% endif %}
        </div>
    </div>

<div style="display:none;" class="nav_up" id="nav_up"></div>


<script>
    var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
                $('.loading').show();
          },

          onAfterPageLoad: function ($items) {
                $('.loading').hide();
          }
    });
</script>



{% endblock %}